@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@100;400;700&display=swap");
@import "./_normalize.scss";
@import "./_var";

body {
  font-family: "Urbanist", sans-serif;

  color: $text-color;
  background-color: $bg-color;
}

#app{
  position: relative;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
